<div class="container ">
<h1>All Engines</h1>
<style>
table, th, td {
    text-align: left;
  padding: 8px;

  border:1px solid black; 
}


th {
  background-color: rgba(150, 212, 212, 0.4);
}
</style>

<table style="width:100%">
    <thead>
        <tr>
            <th>Runable ID</th>
            <th>Runable Type</th>
            <th Colspan="3"> Actions </th>
        </tr>
    </thead>
    <tbody>
        <% @engines.each do |engine| %>
            <tr>
                <td><%= engine.runable_id%></td>
                <td><%= engine.runable_type%></td>
                <td><%= link_to 'View', engine%>
                <td><%= link_to "Destroy", engine, data: {turbo_method: :delete, turbo_confrim: "Are you sure?"}, :cofirm => "Are you sure?" %></td>
            </tr>
        <% end %>
    </tbody>
</table>
</div>
