<div class="bg_new">
 <%= render 'error'%>
    <div class="col-lg-4 mx-auto">
      <div class="card shadow d-flex" >
         <div class="card-header">
            <h1>New Aurthor</h1>
        </div>
        <div class="card-body">

           
            <%= render 'form'%>
            
        </div>
        </div>
     </div>
    </div>
</div>