<h1> Author Details </h1>

<p><strong>First Name :</strong> <%= @author.f_name %></p>
<p><strong>Last Name :</strong> <%= @author.l_name %></p>
<p><strong>Email :</strong> <%= @author.email %></p>

<%= link_to 'Back', root_path%>

